# DIRECTORIES
lecture
data
week_??/day_?/res/data
week_??/day_?/res/img
week_??/day_?/flask
week_??/day_?/__lhlrepos__
week_??/we/__lhlrepos__


# FILES
*.DS_Store
*.csv
*.js
*.json
*.tmp.driveupload
*.tmp.drivedownload
*.ipynb_checkpoints
*.html
*.vscoded